<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.AssistPlanMapper">

 <select id="selectAssistPlanPage" resultType="Map">
        select sss.*,`user`.`name` teachername from 
        (SELECT t.id,t.starttime,t.endtime,t.stucontent,c.classname,t.isstatus,t.creator,u.name createname,t.createtime
        	FROM assistplan t
        	left join tbl_class c on t.classid=c.id
        	left join `user` u  on t.creator=u.id 
        	left join organization o on c.orgid = o.id
        	WHERE c.graduate = 0
        	<if test=" classid != null ">
        		and t.classid = #{classid}  
        	</if>
        	<if test=" orgids != null ">
                 and o.id in (#{orgids})
            </if>
            <if test=" flag != null ">
                 and DATE_FORMAT(t.endtime,'%Y-%m') = DATE_FORMAT(NOW(),'%Y-%m')
            </if>
            <if test=" startTime != null ">
                <![CDATA[ and DATE_FORMAT(t.starttime,'%Y-%m-%d')>= #{startTime} ]]>
            </if>
            <if test=" endTime != null ">
                <![CDATA[ and DATE_FORMAT(t.endtime,'%Y-%m-%d')<= #{endTime} ]]>
            </if>
            
        	ORDER BY t.id ASC) sss ,`user` 
         where sss.creator =`user`.id
         <if test=" teachername != null ">
                and `user`.`name` like concat(concat('%',#{teachername}),'%')
         </if>
    </select>
    
    <insert id="insertAssistPlan"  useGeneratedKeys="true" keyProperty="id" parameterType="com.aaa.model.AssistPlan">
	  	insert into assistplan (classid,stucontent,starttime,endtime,plancontent,comflan,remark,isstatus,creator,createtime) values (#{classid},#{stucontent},#{starttime},#{endtime},#{plancontent},#{comflan},#{remark},#{isstatus},#{creator},#{createtime})
	 </insert>
	  <select id="selectClassInfoById" resultType="Map">
	  		SELECT t.id,t.comflan,t.plancontent,t.remark,c.classname,c.id classid,group_concat( distinct s.stuname) stuname ,group_concat(distinct u.`name`) teacher
        	FROM assistplan t
        	left join tbl_class c on t.classid=c.id
			left join tbl_user_class r on c.id = r.class_id
			left join user u on u.id = r.user_id
			left join assplan_student a on t.id = a.assid
			left join student s on a.stuid = s.id
			where t.id =#{id};
	  </select>
</mapper>
