<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.TeaQuestionMapper">
	<resultMap id="QuestionResultMap" type="com.aaa.model.TeaQuestion">
		<id column="id" property="id" jdbcType="BIGINT"/>
        <result column="questionname" property="questionname" jdbcType="VARCHAR"/>
        <result column="type" property="questiontype" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>
	<resultMap id="QuestionVoResultMap" type="com.aaa.model.vo.TeaQuestionVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="questionname" property="questionname" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        
        <collection property="rolesList" ofType="Role">
            <id column="roleId" property="id"/>
            <result column="roleName" property="name"/>
        </collection>
    </resultMap>
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, questionname
    </sql>
	<select id="selectQuestionVoById" resultMap="QuestionVoResultMap" parameterType="java.lang.Long">
        SELECT
        t.id, t.questionname,r.id roleId,r.name roleName, t.type type
        FROM
        teacherquestion t
        left join teaquestion_role e on t.id = e.question_id
        left join role r on  r.id = e.role_id
        <where>
        	t.status = 1 and 
            t.id = #{id}
        </where>
    </select>
    <!--新增 和校区关联 所以根据校区查询所拥有的考核点-->
    <select id="selectQuestionPage" resultType="Map" parameterType="map">
        SELECT
        t.id, t.questionname,group_concat(distinct r.`name`) AS rolesList,group_concat(distinct o.`name`) as names
        FROM
        teacherquestion t
        left join teaquestion_role e on t.id = e.question_id
        left join role r on  r.id = e.role_id
        left JOIN question_organiztion q on q.questionid = t.id
        left join organization o on q.organiztionid = o.id
        where t.status = 1
        GROUP BY t.id
    </select>
    <select id="selectListByRoleId" resultMap="QuestionResultMap" parameterType="java.lang.Long">
        SELECT
        t.id, t.questionname,t.type
        FROM
        teacherquestion t
        left join teaquestion_role e on t.id = e.question_id
        left join role r on  r.id = e.role_id
        <where>
        	t.status = 1 and 
            r.id = #{roleId}
        </where>
    </select>
	<!-- 查询分模块教师查询 -->
    <select id="selecFentListByRoleId" resultMap="QuestionResultMap" parameterType="java.lang.Long">
        SELECT
        t.id, t.questionname,t.type
        FROM
        teacherquestion t
        left join teaquestion_role e on t.id = e.question_id
        left join role r on  r.id = e.role_id
        <where>
        	t.status = 1 and 
            r.id = #{roleId} and t.id>24
        </where>
    </select>
    <!--
       查询权限+校区下的考核点
    -->
    <select id="selectNewListByRoleId" resultMap="QuestionResultMap" parameterType="java.lang.Long">
        SELECT
        t.id, t.questionname,t.type
        FROM
        teacherquestion t
        left join teaquestion_role e on t.id = e.question_id
        left join role r on  r.id = e.role_id
        RIGHT JOIN question_organiztion q on q.questionid = t.id
        <where>
            t.status = 1 and
            q.organiztionid = #{organiztionid} and
            r.id = #{roleId}
        </where>
    </select>
    <select id="selectTeaQuestionById" resultMap="QuestionResultMap" parameterType="java.lang.Long">
        SELECT
        t.id, t.questionname,t.type type,t.status status
        FROM
        teacherquestion t
        <where>
            t.status = 1 and
            t.id = #{id}
        </where>
    </select>

</mapper>